::-moz-selection {
    background: hsl(269, 100%, 92%);
    color: hsl(240, 5%, 26%);
}
::selection {
    background: hsl(269, 100%, 92%);
    color: hsl(240, 5%, 26%);
}

::-webkit-scrollbar-track
{
    background-color: white;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    background-image: linear-gradient(to bottom, hsl(272, 72%, 47%), hsl(271, 91%, 65%));
}
