.home-vaultstack-banner {
    background-image: url('https://content.pqdev.xyz/vaultstack/background.jpg');
}

.home-myroi-banner {
    background-image: url('https://content.pqdev.xyz/myroi/background.jpg');
}

.myroi-myroi-dashboard {
    background-image: url('https://content.pqdev.xyz/myroi/dashboard.png')
}

.myroi-myroi-dark-dashboard {
    background-image: url('https://content.pqdev.xyz/myroi/dark_dashboard.png')
}

.myroi-myroi-overview {
    background-image: url('https://content.pqdev.xyz/myroi/overview.png')
}

.myroi-myroi-dark-overview {
    background-image: url('https://content.pqdev.xyz/myroi/dark_overview.png')
}

.myroi-myroi-closed {
    background-image: url('https://content.pqdev.xyz/myroi/closed.png')
}

.myroi-myroi-manage_portfolio {
    background-image: url('https://content.pqdev.xyz/myroi/manage_portfolio.png')
}

.myroi-myroi-dark-manage_portfolio {
    background-image: url('https://content.pqdev.xyz/myroi/dark_manage_portfolio.png')
}

.myroi-myroi-transaction {
    background-image: url('https://content.pqdev.xyz/myroi/transaction.png')
}

.vaultstack-vaultstack-dashboard {
    background-image: url('https://content.pqdev.xyz/vaultstack/dashboard.png')
}

.vaultstack-vaultstack-item {
    background-image: url('https://content.pqdev.xyz/vaultstack/item.png')
}

